In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('customer.csv')

In [3]:
df.sample(5)

    age  gender   review education purchased
0    30  Female  Average    School        No
29   83  Female  Average        UG       Yes
17   22  Female     Poor        UG       Yes
45   61    Male     Poor        PG       Yes
41   23    Male     Good        PG       Yes

In [4]:
df=df.iloc[:,2:]

In [5]:
df.sample(5)

     review education purchased
8   Average        UG        No
24  Average        PG       Yes
0   Average    School        No
18     Good    School        No
26     Poor        PG        No

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
from sklearn.preprocessing import OrdinalEncoder

In [14]:
X_train,X_test,y_train,y_test=train_test_split(df.iloc[:,0:2],df.iloc[:,-1],
                                              test_size=0.2,
                                              random_state=0)

In [15]:
oe=OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [16]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [17]:
X_train=oe.transform(X_train)

In [18]:
X_test=oe.transform(X_test)

In [20]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [24]:
X_train

array([[2., 2.],
       [0., 0.],
       [0., 2.],
       [1., 0.],
       [2., 0.],
       [0., 0.],
       [0., 2.],
       [0., 2.],
       [2., 1.],
       [1., 1.],
       [0., 1.],
       [1., 1.],
       [1., 1.],
       [0., 1.],
       [2., 2.],
       [1., 0.],
       [0., 2.],
       [1., 1.],
       [1., 0.],
       [2., 0.],
       [1., 0.],
       [0., 1.],
       [2., 0.],
       [2., 1.],
       [0., 1.],
       [0., 0.],
       [1., 2.],
       [1., 2.],
       [2., 0.],
       [2., 0.],
       [2., 1.],
       [1., 2.],
       [0., 2.],
       [2., 1.],
       [0., 2.],
       [0., 2.],
       [2., 2.],
       [1., 0.],
       [2., 2.],
       [1., 1.]])

# Label Encoding

Encode target labels with value between 0 and n_classes-1.

This transformer should be used to encode __target values__ , i.e. y, and not the __input X.__

In [26]:
from sklearn.preprocessing import LabelEncoder

In [28]:
LE=LabelEncoder()

In [29]:
LE.fit(y_train)

LabelEncoder()

In [31]:
LE.classes_

array(['No', 'Yes'], dtype=object)

In [33]:
y_train=LE.transform(y_train)
y_test=LE.transform(y_test)

In [36]:
y_train

array([1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0])